{% extends "books/base.html" %}
{% load i18n %}

{% block content %}

	<h1>{% trans "Reviews for" %} {{object.title}}</h1>
	
	{% for review in reviews %}
		<b>{{review.title}}, <span>{{review.rating}} stars</span></b>
		<p>		{{review.text}}</p>
		{% empty %}
		<p>{% trans "There are no reviews for this book yet. Hurry up and be the first one!" %}</p>
	{% endfor %}


	{% if message %}
		<b>{{message}}</b>
	
	{% else %}
		<h2>{% trans "Share with the community your experience with this book!" %}</h2>
		{% include "form.html" with form=form %}
	{% endif %}
		
	
	
{% endblock content %}

